/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #e5ddd5;
    margin: 0;
    padding: 20px;
}

.btn-inicio {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #25D366; /* Color estilo WhatsApp */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-inicio:hover {
    background-color: #0b8c6a; /* Color de fondo al pasar el ratón */
}

/* Contenedor del formulario de búsqueda */
.form-container {
    margin-bottom: 20px;
}

/* Lista de resultados */
.resultado-lista {
    list-style: none;
    padding: 0;
}

.resultado-item {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s;
}

.resultado-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Botón de enviar solicitud */
.boton-solicitud {
    background-color: #075e54;
    color: white;
    border: none;
    border-radius: 25px; /* Esquinas más redondeadas */
    padding: 10px 20px; /* Espaciado más grande */
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.boton-solicitud:hover {
    background-color: #0b8c6a; /* Color más claro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}

.boton-solicitud:active {
    transform: translateY(0); /* Restablecer la posición al hacer clic */
}

/* Mensaje si ya son amigos */
.amigo-info {
    color: #888; /* Color gris para indicar que ya son amigos */
}
